
.title {

    padding-top:40px;
}
.form {
    display:flex;
    align-items: flex-end;
    padding-left:5%;
    margin-top:50px;
    border-bottom:dashed 0.1px #9b9b9b;
    padding-bottom:5%;
    
 
}

.button {
vertical-align: baseline;
margin-bottom: 0px;
}
